@import "tailwindcss";

/* ---------- THEME CONFIG ---------- */
@theme {

  /* Colors */
  --color-primary: #0d0df2;
  --color-primary-light: #3b3bff;
  --color-background-light: #f5f5f8;
  --color-background-dark: #101022;

  /* Brand Gradients */
  --gradient-primary: linear-gradient(
    to right,
    var(--color-primary),
    #3b82f6
  );

  /* Radius */
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  /* Fonts */
  --font-display: "Inter", sans-serif;
}

/* ---------- BASE STYLES ---------- */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-display);
    background-color: var(--color-background-light);
  }

  .dark body {
    background-color: var(--color-background-dark);
  }
}

@keyframes stack-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.stack-marquee {
  animation: stack-marquee 30s linear infinite;
}